/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins' , sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  scroll-behavior: smooth;

}

/* SECCIONES */
section {
  padding: 60px 20px;
  text-align: center;
}
/* HEADER */
header {
  background-color: #111;
  padding: 15px 0;
}

/* NAV */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}

/* INICIO */
#inicio {
  background: #222;
  color: white;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inicio h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#inicio p {
  font-size: 1.2rem;
}

/* TÍTULOS */
h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

/* SOBRE MI, PORTFOLIO, ETC */
section:nth-child(even) {
  background-color: #ffffff;
}

section:nth-child(odd) {
  background-color: #f0f0f0;
}

/* FOOTER */
footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}